In [1]:
!ls

config.py  main.ipynb  movusers.db  README.md  your_database.db
db.ipynb   menv        __pycache__  user.py

In [2]:
import sqlite3

In [66]:
def create_db():

    # Create a connection to a database file (it will be created if it doesn't exist)
    conn = sqlite3.connect('movusers.db')
    
    # Create a cursor object using the connection
    cursor = conn.cursor()
    
    # Example: Create a table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Genres (
            genre_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL UNIQUE
        );
    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Directors (
            director_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL UNIQUE
        );
    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Actors (
            actor_id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL UNIQUE
        );
    ''')

    # Example: Create a table
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Movies (
            movie_id INTEGER PRIMARY KEY AUTOINCREMENT,
            title TEXT NOT NULL,
            release_date DATE,
            director_id INTEGER,
            overview TEXT,
            FOREIGN KEY (director_id) REFERENCES Directors(director_id)
        );

    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS MoviesGenres (
            movie_id INTEGER,
            genre_id INTEGER,
            PRIMARY KEY (movie_id, genre_id),
            FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
            FOREIGN KEY (genre_id) REFERENCES Genres(genre_id)
        );

    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS MoviesActors (
            movie_id INTEGER,
            actor_id INTEGER,
            PRIMARY KEY (movie_id, actor_id),
            FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
            FOREIGN KEY (actor_id) REFERENCES Actors(actor_id)
        );

    ''')

    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Users (
            user_id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
            
        );
    ''')

    cursor.execute('''
        CREATE TABLE Reviews (
            review_id INTEGER PRIMARY KEY AUTOINCREMENT,
            movie_id INTEGER,
            user_id INTEGER,
            review_text TEXT,
            rating DECIMAL,
            votes INTEGER,
            review_date DATE,
            FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
            FOREIGN KEY (user_id) REFERENCES Users(user_id)
        );
    ''')

    # Commit the changes
    conn.commit()
    
    # Close the connection
    conn.close()
    
    print("SQLite database and table created locally.")

In [67]:
def drop_tables():
    # Create a connection to a database file (it will be created if it doesn't exist)
    conn = sqlite3.connect('movusers.db')
    
    # Create a cursor object using the connection
    cursor = conn.cursor()

    table_names = ['Movies', 'Users', 'Reviews', 'Actors','Directors','Genres', 'MoviesActors','MoviesGenres']
    for table_name in table_names:
        cursor.execute(f"DROP TABLE IF EXISTS {table_name}")
    conn.commit()
    # Close the connection
    conn.close()

In [68]:
def show_tables():

    
    conn = sqlite3.connect('movusers.db')
    
    # Create a cursor object using the connection
    cursor = conn.cursor()
    
    # (Your existing table creation commands go here)
    
    # After creating tables, query the sqlite_master table to list them
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
    tables = cursor.fetchall()

    
    # Commit the changes
    conn.commit()
    
    # Close the connection
    conn.close()
    
    # Print the names of all tables created
    
    for table in tables:
        print(table[0])

In [69]:
def add_movie(movie):

    conn = sqlite3.connect('./movusers.db')
    
    # Create a cursor object
    cursor = conn.cursor()

    cursor.execute("INSERT INTO Movies (movie_id,title,release_date,director_id,overview) VALUES (?,?,?,?,?)", (movie['id'],movie['title'],movie['release_date'],movie['director_id'],movie['overview']))
    conn.commit()
    conn.close()

In [70]:
def add_user(user):


    conn = sqlite3.connect('./movusers.db')
    
    # Create a cursor object
    cursor = conn.cursor()
    # cursor.execute("INSERT INTO Users (name) VALUES ('John Doe')")

    cursor.execute("INSERT INTO Users (user_id,name) VALUES (?,?)", (user.user_id,user.name))
    # Commit the changes
    conn.commit()
    conn.close()

In [98]:
def add_movie_review(mr):

        # {'title':'asdfas',
        # 'movie_id':movie['id'],
        # 'user_id': juser.user_id
        # 'details':{
        #     'ratings':7,
        #     'author':'ccharlesdicks',
        #     'content':'it was good'
        # }

    #     cursor.execute('''
    #     CREATE TABLE Reviews (
    #         review_id INTEGER PRIMARY KEY AUTOINCREMENT,
    #         movie_id INTEGER,
    #         user_id INTEGER,
    #         review_text TEXT,
    #         rating DECIMAL,
    #         votes INTEGER,
    #         review_date DATE,
    #         FOREIGN KEY (movie_id) REFERENCES Movies(movie_id),
    #         FOREIGN KEY (user_id) REFERENCES Users(user_id)
    #     );
    # ''')

        conn = sqlite3.connect('./movusers.db')
        
        # Create a cursor object
        cursor = conn.cursor()

    
        cursor.execute("INSERT INTO Reviews (movie_id,user_id,review_text,rating,votes,review_date) VALUES (?,?,?,?,?,?)", (mr['movie_id'],mr['user_id'],mr['details']['content'],mr['details']['rating'],mr['details']['votes'],mr['details']['date'].strftime("%Y-%m")))
        conn.commit()
        conn.close()

In [103]:
def display_data():
    conn = sqlite3.connect('movusers.db')
    cursor = conn.cursor()
    
    # Display some users
    cursor.execute("SELECT * FROM Users")
    users = cursor.fetchall()
    print("Users:")
    for user in users:
        print('thisuser',user)
    
    # Display some movies
    cursor.execute("SELECT * FROM Movies")
    movies = cursor.fetchall()
    print("\nMovies:")
    for movie in movies:
        print(movie)

    # Display some movies
    cursor.execute("SELECT * FROM Reviews")
    reviews = cursor.fetchall()
    print("\nReviews:")
    for review in reviews:
        print(review)
    
    conn.close()

In [104]:
def insert_data():
    conn = sqlite3.connect('movusers.db')
    cursor = conn.cursor()
    
    # Inserting a director
    cursor.execute("INSERT INTO Directors (name) VALUES ('Christopher Nolan')")
    director_id = cursor.lastrowid

    # Inserting a genre
    cursor.execute("INSERT INTO Genres (name) VALUES ('Sci-Fi')")
    genre_id = cursor.lastrowid
    
    # Inserting a movie
    cursor.execute("INSERT INTO Movies (title, release_date, director_id, overview) VALUES (?, ?, ?, ?)", 
                   ("Inception", "2010-07-16", director_id, "A thief who steals corporate secrets..."))
    movie_id = cursor.lastrowid
    
    # Inserting a user
    cursor.execute("INSERT INTO Users (name) VALUES ('John Doe')")
    user_id = cursor.lastrowid
    
    # Assume more inserts here for Actors, MoviesActors, Reviews, etc.
    
    conn.commit()
    conn.close()
    print("Data inserted successfully.")

In [105]:
def main():
    drop_tables()
    print('dropped')
    create_db()
    # show_tables()

    #populate tables.... will need to be done by program....
    from user import User

    
    juser = User('jow')
    print(vars(juser))  # This will show you the attributes of the user object

    add_user(juser)
    from datetime import datetime
    movie = {

        'id':1324,
        'title':'jp',
        'release_date':datetime(2022,2,1),
        'director_id':1,
        'overview':'asdfasddfaf'
    }

    add_movie(movie)
    
    # review = {'check':''}
    # review['title'] = title_div[0].text
    # review['movie_id'] = movie_id
    # print(title_div[0].text)
    # # Step 3: Retrieve and print the text for each child element
    # details = {0:'ratings',1:'author',2:'content',3:'check'}
    # count = 0

    movie_review = {

        'title':'asdfas',
        'movie_id':movie['id'],
        'user_id': juser.user_id,
        'details':{
            'rating':7,
            'author':'ccharlesdicks',
            'votes':100,
            'content':'it was good',
            'date': datetime(2022,2,1)
        }
        
    }

    add_movie_review(movie_review)

    print(show_tables())
    print(display_data())

In [106]:
main()

dropped
SQLite database and table created locally.
{'name': 'jow', 'user_id': 140703065097216, 'reviews': []}
added user
Users:
thisuser (140703065097216, 'jow')

Movies:
(1324, 'jp', '2022-02-01 00:00:00', 1, 'asdfasddfaf')

Reviews:
(1, 1324, 140703065097216, 'it was good', 7, 100, '2022-02')
None